<header> 
  <nav>
    <h1> Mandy Wade </h1>
  </nav>
</header>
<main>
  <p> This is my Portfolio </p>
  <button> View my Work </button>
</main>
<footer>
  <a href '#'> Github
  <a href '#'> LinkedIn
  ©   
</footer>